<center><h1> Welcome to My Stuff site <h1><center>
<br>


<h2> Find Product by Category </h2>
<div class="boss">

<div class="card" style="width: 18rem;">
  <img src="https://www.cranbournemotorgroup.com.au/img/854" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cars Deals</h5>
    <p class="card-text"> Find your car</p>
    <%= link_to "Cars", adds_path(:category=> "cars"), :class=>"btn btn-primary" %>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://i2.wp.com/www.bankersinsurance.net/wp-content/uploads/2017/02/human-resources-benefits-management-and-other-insurance-tools-services-e1486756564677.jpg?fit=1920%2C700&ssl=1" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cars Deals</h5>
    <p class="card-text"> Find your car</p>
    <%= link_to "Services", adds_path(:category=> "services"), :class=>"btn btn-primary" %>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR74vyZuHXbYhr8ukqYwVYDdhxpXbFyDeH5DfFfnm743KsYYGk" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Get your home set</h5>
    <p class="card-text"> Find your car</p>
    <%= link_to "Furniture", adds_path(:category=> "furniture"), :class=>"btn btn-primary" %>
  </div>
</div>

  <%# link_to "Cars", adds_path(:category=> "cars") %>
  <%# link_to "Services", adds_path(:category=>"services") %>
  <%# link_to "Furniture", adds_path(:category=>"furniture") %>
</div>

  